body {
  margin: 0;
  background-color: var(--color-brand-white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 18px;
  font-family: 'Oranienbaum';
  margin: 0;
  color: var(--color-brand-dark-blue);
}
