@font-face {
  font-display: swap;
  font-family: 'Berkshire Swash';
  src: url('../fonts/BerkshireSwash-Regular.woff2') format('woff2'),
    url('../fonts/BerkshireSwash-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Gunnyrewritten';
  src: url('../fonts/gunnyrewritten.woff2') format('woff2'),
    url('../fonts/gunnyrewritten.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Oranienbaum';
  src: url('../fonts/oranienbaum.woff2') format('woff2'),
    url('../fonts/oranienbaum.woff') format('woff');
}
